In [ ]:
import math
import pandas as pd

def binomial_prob(n, p, k):
    b = (math.factorial(n)/(math.factorial(x)*math.factorial(n-x)))*(p**x)*((1-p)**(n-x))
    return b
    
n = 38
p = 0.3
x = 10

pj = []
pj.append(binomial_prob(n, p, x))
fj = []
fj.append(sum(pj))

for i in range(x):
	temp = binomial_prob(n , p, x)
	pj.append(temp)
	fj.append(sum(pj))
 
d = {'p':pj,'F':fj}
df = pd.DataFrame(d)
df

           p         F
0   0.128403  0.128403
1   0.128403  0.256805
2   0.128403  0.385208
3   0.128403  0.513611
4   0.128403  0.642014
5   0.128403  0.770416
6   0.128403  0.898819
7   0.128403  1.027222
8   0.128403  1.155625
9   0.128403  1.284027
10  0.128403  1.412430

In [ ]:
def random(a, m, c, x0, n):
	x = []
	x.append(x0)
	for i in range(n):
		rand = (a * x[i] + c) % m
		x.append(rand)
	return x

a = 2
m = 33
c = 8
x0 = 7
n = 10
xi = random(a, m, c, x0, n)
U = [(i/m) for i in xi]

In [ ]:
hasil = []

for i in range(len(U)):
	for j in range(len(fj)):
		if U[i] < fj[j]:
			hasil.append(j)
			break

In [ ]:
d = {'x[i]':xi,'U[i]':U, 'p[i]':hasil}
df = pd.DataFrame(d)
df

    x[i]      U[i]  p[i]
0      7  0.212121     1
1     22  0.666667     5
2     19  0.575758     4
3     13  0.393939     3
4      1  0.030303     0
5     10  0.303030     2
6     28  0.848485     6
7     31  0.939394     7
8      4  0.121212     0
9     16  0.484848     3
10     7  0.212121     1